.button{
    -fx-background-color: transparent;
    -fx-text-fill: #999999;
}

.button:hover {
    -fx-background-color:#282828;
}

#menuExit {
    -fx-text-fill: #848080;
    -fx-background-radius: 50%;
    -fx-border-radius: 50%;
}

#menuExit:hover{
    -fx-background-color: #282828;
    -fx-border-color: #282828;
}

