#basePane{
    -fx-background-image: url("background.png");
    -fx-background-size: cover;
}

#myStackPane{
    -fx-background-color: white;
}

#slider{
    -fx-background-radius: 0px 15px 15px 0px;
    -fx-border-radius: 0px 15px 15px 0px;
}

#vbox{
    -fx-background-radius: 0px 0px 15px 0px;
    -fx-border-radius: 0px 0px 15px 0px;
}

#planet{
    -fx-border-radius: 50%;
    -fx-background-radius: 50%;
    -fx-background-color: transparent;
}

#startContainer{
    -fx-background-image: url("background.png");
    -fx-background-size: cover;
}

#startButton{
    -fx-background-color: black;
    -fx-border-color: white;
    -fx-border-width: 2px;
    -fx-border-radius: 10px;
}

#startButton:hover{
    -fx-text-fill: #acacac;
}

#infoContainer{
     /*#1e1e1e*/
    -fx-background-color: rgba(30,30,30,0.7);
    -fx-background-radius: 15px 0px 0px 0px;
    -fx-border-radius: 15px 0px 0px 0px;
}

#infoLabel{
    -fx-text-fill:  #999999;
}

#infoText{
    -fx-text-fill: #7a7a7a;
}

#miniGame{
    -fx-background-color:  #1e1e1e;
    -fx-text-fill: #999999;
    -fx-background-radius: 0px 0px 10px 10px;
    -fx-border-radius: 0px 0px 10px 10px;
}

#miniGame:hover{
    -fx-background-color:#282828;
}

